<h1>Sign Up</h1>

<form action="user_url" method="post">
  Name<input type="text" name="user[user_name]">
  Password<input type="password" name="user[password]">
<button type="submit">Sign Up</button>
</form>
